<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
  
    <!-- swing -->
    <bean id="frame" class="net.sourceforge.musicsvg.gui.LibrarieMainFrame">
        <constructor-arg>
            <ref bean="menu"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="mainPanel"/>
        </constructor-arg>
    </bean>
    
    <bean id="menu" class="net.sourceforge.musicsvg.gui.LibrarieMenu">
        <property name="onAddDirectory">
            <list>
                <ref bean="onAddDirectoryListener"/>
            </list>
        </property>
        <property name="onConfiguration">
            <list>
                <ref bean="onConfigurationListener"/>
            </list>
        </property>
    </bean>

    <bean id="statusBar" class="net.sourceforge.musicsvg.gui.LibrarieStatusBar"/>
    
    <bean id="mainPanel" class="net.sourceforge.musicsvg.gui.LibrarieMainPanel">
        <constructor-arg>
            <ref bean="searchPanel"/>
        </constructor-arg>
        <constructor-arg>
            <ref bean="statusBar"/>
        </constructor-arg>
        <property name="tableModel" ref="songTableModel"/>
    </bean>
    <bean id="songTableModel" class="net.sourceforge.musicsvg.gui.SongTableModel"/>
    <bean id="searchPanel" class="net.sourceforge.musicsvg.gui.SearchPanel">
        <property name="onFilterListeners">
            <list>
                <ref bean="controller"/>
            </list>
        </property>
    </bean>
    
    <bean id="tablatureTables" class="net.sourceforge.musicsvg.gui.LibrarieTable"/>
        
    <!-- listeners -->
    <bean id="onAddDirectoryListener" class="net.sourceforge.musicsvg.gui.listener.impl.OnAddDirectoryListener">
        <property name="controller" ref="controller"/>
        <property name="parser" ref="gp4InfoParser"/>
    </bean>

    <bean id="onConfigurationListener" class="net.sourceforge.musicsvg.gui.listener.impl.OnConfigurationListener"/>
    
    <bean id="controller" class="net.sourceforge.musicsvg.main.LibrarieController">
        <property name="songDao" ref="songDao"/>
        <property name="addLibrarieListeners">
            <list>
                <ref bean="songTableModel"/>
                <ref bean="statusBar"/>
            </list>
        </property>
    </bean>
    
    <bean id="gp4InfoParserListener" class="net.sourceforge.musicsvg.io.impl.GP4InfoParserListenerImpl">
        <property name="songDAO" ref="songDao"/>
        <property name="songFactory" ref="songFactory"/>
        <property name="hash" ref="hasher"/>
    </bean>

    <bean id="hasher" class="net.sourceforge.musicsvg.io.Hasher"/>

    <bean id="gp4InfoParser" class="net.sourceforge.musicsvg.io.GP4Parser">
        <property name="listener" ref="gp4InfoParserListener"/>
    </bean>

    <bean id="songFactory" class="net.sourceforge.musicsvg.model.factory.impl.SongFactoryImpl"/>
    
</beans>