<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <!-- swing -->
    <bean id="frame" class="net.sourceforge.musicsvg.gui.LibrarieMainFrame">
        <property name="mainPanel" ref="mainPanel"/>
        <property name="menu" ref="menu"/>
        
    </bean>
    
    <bean id="menu" class="net.sourceforge.musicsvg.gui.LibrarieMenu">
        <property name="addDirectoryListener" ref="addDirectoryListener"/>
    </bean>
    <bean id="mainPanel" class="net.sourceforge.musicsvg.gui.LibrarieMainPanel">
        <property name="rightPanel" ref="tablatureTables"/>
    </bean>

    <bean id="tablatureTables" class="net.sourceforge.musicsvg.gui.LibrarieTable"/>
        
    <!-- listeners -->
    <bean id="addDirectoryListener" class="net.sourceforge.musicsvg.gui.listener.AddDirectoryListener">
        <property name="parent" ref="menu"/>
        <property name="controller" ref="controller"/>
        <property name="parser" ref="gp4InfoParser"/>
    </bean>

    <bean id="controller" class="net.sourceforge.musicsvg.main.LibrarieController">
        <property name="songDao" ref="songDao"/>
        <property name="addLibrarieListeners">
            <list>
                <ref bean="tablatureTables"/>
            </list>
        </property>
    </bean>
    
    <bean id="gp4InfoParserListener" class="net.sourceforge.musicsvg.io.impl.GP4InfoParserListenerImpl">
        <property name="songDAO" ref="songDao"/>
        <property name="songFactory" ref="songFactory"/>
    </bean>

    <bean id="gp4InfoParser" class="net.sourceforge.musicsvg.io.GP4Parser">
        <property name="listener" ref="gp4InfoParserListener"/>
    </bean>

    <bean id="songDao" class="net.sourceforge.musicsvg.model.dao.impl.SongDAOMapImpl"/>
    <bean id="songFactory" class="net.sourceforge.musicsvg.model.factory.impl.SongFactoryImpl"/>
    
</beans>