<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Sample_TestNG_Suite" verbose="4">
  <test name="DefaultTestPackage">
    <packages>
      
      <package name="net.sourceforge.musicsvg.io"/>
      <package name="net.sourceforge.musicsvg.io.impl"/>
      <package name="net.sourceforge.musicsvg.midi"/>
        <package name="net.sourceforge.musicsvg.model"/>
    <package name="net.sourceforge.musicsvg.model.dao.impl"/>
    <package name="net.sourceforge.musicsvg.model.svg"/>
    <package name="net.sourceforge.musicsvg.model.svg.impl"/>
    <package name="net.sourceforge.musicsvg.model.gui.mainframe"/>
    </packages>
  </test>
</suite>

